{% extends "base.html" %}
{% block title %}Generic number{% endblock %}

{% block content %}
    {% if password %}

        <div class="alert alert-primary" role="alert">
            Wylosowano: <strong>{{ password }}</strong>

        </div>

        <div class="form-group">
            <form action="." method="post">
                {% csrf_token %}
                {{ form.as_p }}

                <input type="submit" value="Generuj jeszcze raz">
            </form>
        </div>

    {% else %}
        <h1 class="display-3">Wygeneruj hasło</h1>
        <p class="lead">
                Wskazówki:
        </p>
       <p class="lead">
                <strong>A</strong> i <strong>B</strong> to dziedzina do jakich będą należeć liczby
        </p>
       <p class="lead">
           <strong>Amount</strong> to liczby które mają zostać wygenerowane
        </p>




        <h1></h1>
        <h2></h2>
        <div class="form-group">
            <form action="." method="post">
                    {% csrf_token %}
                    {{ form.as_p }}

                <input type="submit" name='list' value="random">
            </form>
        </div>
    {% endif %}
{% endblock  %}